body {
	background-color: rgb(36, 37, 38);
}

#control-panel {
	font-family: 'Caveat', cursive;
	font-size: 14px;
	position: fixed;
	top: 10px;
	left: 10px;
	color: lightgray;
	background: none;
	z-index: 100;
}
	
#control-panel input {
	color: yellow;
	background: none;
	border: none;
	border-bottom: 1px solid rgb(104, 104, 104);
	width: 50px;
	text-align: center;
	line-height: 150%;
}

span.value-btn {
	font-size: 12px;
	margin-left: 10px;
	padding: 2px 3px;
	cursor: pointer;
	background-color: black;
	border: 1px solid rgb(104, 104, 104);
}

#svg-container {
    position: fixed;
    top: 50px;
    left: 10px;
   /* border: 1px solid rgb(104, 104, 104);; */
}

#svg-area polygon {
	stroke: rgba(255, 255, 255, 0.25);
	fill: none;
}

#svg-area polygon.cursor {
	stroke: rgba(255, 255, 255, 0.25);
	fill: yellow;
}