body {
  background-color: rgb(36, 37, 38);
  color: white;
}

#svg-area {
  display: block;
  position: fixed;
  margin: 0px;
  padding: 0px;
  border: 1px solid rgba(100, 100, 100, 0.5);
}

#lens {
  fill: none;
  stroke: rgb(40, 100, 40);
  stroke-width: 10;
}
.crontol-lens {
  fill: rgb(40, 100, 40);
  stroke: none;
}
