body {
  background-color: rgb(36, 37, 38);
  color: white;
}

#bezierDiv {
  padding: 10px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0px;
}

#bezierArea {
  border: 1px solid darkgray;
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* #bezierArea line {
	stroke: rgba(255, 255, 255, 1.0);
	fill: none;
} */
