body {
	background-color: rgb(36, 37, 38);
}

#timeText {
	position: fixed;
	font-family: 'Abril Fatface', cursive;
	text-align: center;

	-webkit-filter: drop-shadow(0px 0px 3px rgba(136, 136, 136, 0.534));
	filter: drop-shadow(0px 0px 3px rgba(136, 136, 136, 0.534))
}

.clock-text {
	font-size: 20px;
	color: lightgray;
}

.ratio-main {
	font-size: 50px;
}

.ext-text {
	font-family: 'Caveat', cursive;
	font-size: 20px;
	color: gray;
}