body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: white;
}

#view-area {
  width: 99vw;
  height: 99vh;
  border: 1px solid rgb(200, 200, 200);
  display: flex;
}
